# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Lint and Unit Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MLAGILITY_DEBUG: True

    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: mla
          python-version: 3.8
      - name: Install dependencies
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          conda install pylint
          if [ -f setup.py ]; then pip install -e .; fi
          pip install transformers
      - name: Lint with PyLint
        shell: bash -el {0}
        run: |
          pylint src --rcfile .pylintrc
      - name: Test with unittest
        shell: bash -el {0}
        run: |
          python examples/api/hello_world.py
          python test/cli.py
          python test/analysis.py
          python test/model_api.py
      - name: Check installation of model requirements on isolated conda env
        shell: bash -el {0}
        run: |
          bash src/mlagility/cli/setup_venv.sh
          conda activate tracker_slurm
          python -m pip check
          conda deactivate
