# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Lint and Unit Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MLAGILITY_DEBUG: True
      MLAGILITY_TRACEBACK: True
    strategy:
      matrix:
        python-version: ["3.8", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: mla
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          conda install pylint
          if [ -f setup.py ]; then pip install -e .; fi
          pip install transformers
          python -m pip check
      - name: Lint with PyLint
        shell: bash -el {0}
        run: |
          pylint src --rcfile .pylintrc
      - name: Test with unittest
        shell: bash -el {0}
        run: |
          # Unit tests
          python test/database.py

          # Examples
          python examples/api/hello_world.py
          benchit examples/cli/scripts/hello_world.py
          benchit examples/cli/scripts/max_depth.py --max-depth 1
          benchit examples/cli/scripts/two_models.py
          benchit examples/cli/scripts/hello_world.py --sequence-file examples/cli/extras/example_sequence.py --build-only

          # E2E tests
          python test/cli.py
          python test/analysis.py
          python test/model_api.py
          python test/analysis.py
      - name: Install and Start Slurm
        shell: bash -el {0}
        run: |
          sudo apt update -y
          sudo apt install slurm-wlm -y
          cp test/helpers/slurm.conf test/helpers/slurm_modified.conf
          sed -i "s/YOUR_HOSTNAME_HERE/$HOSTNAME/" test/helpers/slurm_modified.conf
          sudo mv test/helpers/slurm_modified.conf /etc/slurm/slurm.conf
          sudo service slurmd start
          sudo service slurmctld start
          sudo service munge start
      - name: Test benchit on Slurm
        shell: bash -el {0}
        run: |
          # Create conda environment for Slurm using srun (sbatch + wait)
          export SKIP_REQUIREMENTS_INSTALL="True"
          srun src/mlagility/cli/setup_venv.sh 

          # Run tests on Slurm
          export MLAGILITY_SLURM_USE_DEFAULT_MEMORY="True"
          benchit benchmark models/selftest/linear.py --build-only --use-slurm --cache-dir local_cache
          bash test/helpers/check_slurm_output.sh slurm-2.out
      - name: Check installation of requirements.txt and their compatibility with mlagility
        shell: bash -el {0}
        run: |
          bash src/mlagility/cli/setup_venv.sh
          conda activate tracker_slurm
          python -m pip check
          conda deactivate
